---
import 'giscus';
---

<h1>ディスカッション</h1>
<giscus-widget
  id="comments"
  repo="cursor-japan/cursor-japan-site"
  repoid="R_kgDOMj3FGQ"
  category="General"
  categoryid="DIC_kwDOMj3FGc4ChrkO"
  mapping="pathname"
  strict="0"
  term="Welcome to giscus!"
  reactionsenabled="1"
  emitmetadata="0"
  inputposition="bottom"
  theme="preferred_color_scheme"
  lang="ja"
  loading="lazy"
  crossorigin="anonymous"
></giscus-widget>
